h1{
    color:white;
    margin:1em;
    text-shadow:0 0 2px #000;}
.poster{
    box-shadow: 0 0 8px -2px #000;
    border-radius:2px;
}
.text{
    color:white;
    padding: 0.5em 1em;
    background:rgba(0,0,0,0.3);
    border-radius:2px;
    font-family:Georgia;
}
.text-summary{min-height:10em;text-shadow:0 1px 0 #000;}
.genre{
    display: inline-block;
    padding:0.1em 0.5em;
    background:rgba(50,80,125,0.7);
    border-radius:0.1em;
    color:gold;
    text-shadow:0 0 1px #000;
}
.genre + .genre{
    margin-left:0.5em;
}
.genre:hover{
    color:gold;
}

.dropdown-scroll{
    max-height:15em;
    overflow:auto;
}

.video-popup{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    
    background:radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:rgba(40,40,40,0.7);
    background-size:16px 16px;
    cursor:pointer;
}

.video-popup iframe{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    max-width:100%;
    max-height:100%;
    
    border: 1em solid currentColor;
    box-sizing: content-box; 
}