h1{
    color:white;
    margin:1em;
    text-shadow:0 0 2px #000;}
.poster{
    box-shadow: 0 0 8px -2px #000;
    border-radius:2px;
}
.text{
    color:white;
    padding: 0.5em 1em;
    background:rgba(0,0,0,0.3);
    border-radius:2px;
    font-family:Georgia;
}
.text-summary{min-height:10em;text-shadow:0 1px 0 #000;}
.genre{
    display: inline-block;
    padding:0.1em 0.5em;
    background:rgba(50,80,125,0.7);
    border-radius:0.1em;
    color:gold;
    text-shadow:0 0 1px #000;
}
.genre + .genre{
    margin-left:0.5em;
}
.genre:hover{
    color:gold;
}

.dropdown-scroll{
    max-height:15em;
    overflow:auto;
}